html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}


a {
  font-weight: normal;
  text-decoration: none; 
  color:#EF6D3D;
}
a:focus {
  outline: thin dotted;
}

small {
  font-size: 75%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }


p {
  margin: 0 auto 1.5em auto; 
}



q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}




html, #container, .inner { background-color:transparent;}
html {
  background:url(background.gif) center center no-repeat fixed;
  background-size:cover;
  display: flex;
}
body {
  max-width:800px;
  margin:25px auto;
}
header, #content, footer { 
  background: rgba(0,0,0,.8); 
  padding:25px;
  color:#FFFFFF; 
}


ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:#EF6D3D;
}


.hide {
  display:none;
}
.show {
  display:block;
}
.logo{
  border-radius: 3000px;
  width: 350px;
  height: 350px;
}
.home-pic{
  border-radius: 10px;
  height: 300px;
  width: 395px;
}
.ALKU,.ndl{
  width: 100px;
  height: 100px;
}
.tlt{
  text-decoration-line: underline;
  text-decoration-color: #EF6D3D;
}
.footer-imgs{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-left: 30px;
}
.flooter-p{
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.tlt-pic{
  border-radius: 20px;
}
.ff{
max-width: fit-content;
max-width: fit-content;
}
